---
import Svg from "@jasikpark/astro-svg-loader";
---

<span class="icon details-open-icon">
	<Svg src={import("@assets/icons/minus.svg?raw")} />
</span>
<span class="icon details-closed-icon">
	<Svg src={import("@assets/icons/plus.svg?raw")} />
</span>
