---
import Svg from "@jasikpark/astro-svg-loader";
const { class: className, name } = Astro.props;
---

<details class={className} name={name}>
	<summary class="spread">
		<slot name="summary" />
		<span class="icon details-open-icon">
			<Svg src={import("@assets/icons/minus.svg?raw")} />
		</span>
		<span class="icon details-closed-icon">
			<Svg src={import("@assets/icons/plus.svg?raw")} />
		</span>
	</summary>
	<slot />
</details>

<style>
	summary {
		flex-wrap: nowrap;
	}

	summary:hover {
		text-decoration: underline;
	}

	.details-open-icon {
		display: none;
	}

	details[open] .details-open-icon {
		display: block;
	}

	details[open] .details-closed-icon {
		display: none;
	}

	details::details-content {
		overflow: clip;
	}

	@media (prefers-reduced-motion: no-preference) {
		@supports (interpolate-size: allow-keywords) {
			details::details-content {
				block-size: 0;
				opacity: 0;
				interpolate-size: allow-keywords;
				transition:
					block-size 0.2s ease-in,
					opacity 0.2s ease-in,
					content-visibility 0.2s ease-in allow-discrete;
			}

			details[open]::details-content {
				block-size: auto;
				opacity: 1;
			}
		}
	}
</style>
