---
import Svg from "@jasikpark/astro-svg-loader";
---

<div
	class="button chip icon-label-button"
	data-size="s"
>
	<div class="icon">
		<Svg src={import("@assets/icons/clock.svg?raw")} />
	</div>
	<span class="visually-hidden">In Japan, it is currently&nbsp;</span>
	<time datetime="2023-06-08T12:00">Jun 08, 12:00 JST</time>
</div>

<style>
	.button {
		--button-background: var(--color-surface-0);
		--button-color: var(--color-text-regular);
		font-weight: 700;
	}
</style>