@layer base {
	:root {
		--article-gutter: var(--space-xl);
	}

	@screen xl {
		:root {
			--article-nav-width: var(--space-5xl-rem);
		}
	}
}

@layer components {
	.article > .content-wrapper {
		line-height: 1.625;
		margin-block-start: var(--article-gutter);
	}

	.article-nav {
		background-color: var(--color-surface-0);
		border-radius: var(--border-radius);
		padding: var(--space-s-l);
	}

	.article-nav h2 {
		font-size: var(--text--1);
		margin-block-end: 1em;
	}

	@screen md {
		.article > .content-wrapper {
			margin-block-start: 0;
			margin-inline-start: 0;
		}

		.article-nav {
			display: inline-block;
			float: right;
			font-size: 1rem;
			margin-left: var(--space-m-l);
			margin-block-end: var(--space-m-l);
		}

		@supports (float: inline-end) {
			.article-nav {
				float: inline-end;
				margin-inline-start: var(--space-m-l);
				margin-left: 0;
			}
		}
	}

	@screen xl {
		.article {
			align-items: flex-start;
			display: flex;
			flex-direction: row-reverse;
			gap: var(--article-gutter);
		}

		.article > .content-wrapper {
			display: grid;
			flex-grow: 999;
			grid-template-columns: 1fr minmax(auto, calc(var(--main-region-limit) - 2 * (var(--content-padding-inline) + var(--article-nav-width) + var(--article-gutter))));
			margin-inline-start: auto;
			max-inline-size: none;
		}

		.article > .content-wrapper > * {
			grid-column: 2;
		}

		.article > .content-wrapper > .full-width {
			grid-column: 1 / -1;
		}

		.article-nav {
			background-color: transparent;
			border-radius: 0;
			flex-shrink: 0;
			float: none;
			inset-block-start: var(--content-padding-block);
			margin: 0;
			max-block-size: calc(100vh - var(--content-padding-block) * 2);
			flex-basis: var(--article-nav-width);
			overflow-y: auto;
			padding: 0;
			position: sticky;
		}
	}
}