@layer base {
	:where(.article) li + li {
		margin-block-start: 0.3125em;
	}
}

@layer components {
	@container body (min-inline-size: 46rem) {
		.article.content-wrapper {
			display: grid;
			grid-template-columns: minmax(0px, var(--paragraph-max-width)) 1fr;
			max-inline-size: none;
		}

		.article.content-wrapper > * {
			grid-column: 1;
		}

		.article.content-wrapper > .full-width,
		.article.content-wrapper > h1,
		.article.content-wrapper > .h1,
		.article.content-wrapper > h2,
		.article.content-wrapper > .h2,
		.article.content-wrapper > h3,
		.article.content-wrapper > .h3 {
			grid-column: 1 / -1;
		}
	}
}