@layer base {
	:root {
		--article-gutter: var(--space-xl);
	}

	@screen xl {
		:root {
			--article-nav-width: var(--space-5xl-rem);
		}
	}
}

@layer components {
	.article > .content-wrapper {
		line-height: 1.625;
		margin-block-start: var(--article-gutter);
	}

	.article-nav {
		background-color: var(--color-surface-0);
		border-radius: var(--border-radius);
		padding: var(--space-s-l);
	}

	.article-nav h2 {
		font-size: var(--text--1);
		margin-block-end: 1em;
	}

	@screen md {
		.article > .content-wrapper {
			margin-block-start: 0;
			margin-inline-start: 0;
		}

		.article-nav {
			display: inline-block;
			float: right;
			font-size: 1rem;
			margin-left: var(--space-m-l);
			margin-block-end: var(--space-m-l);
		}

		@supports (float: inline-end) {
			.article-nav {
				float: inline-end;
				margin-inline-start: var(--space-m-l);
				margin-left: 0;
			}
		}
	}

	@screen xl {
		.article {
			display: flex;
			flex-flow: row-reverse wrap;
			column-gap: var(--article-gutter);
			row-gap: calc(var(--article-gutter) + var(--content-padding-block));
		}

		.article > .content-wrapper {
			display: grid;
			flex-basis: 45rem;
			flex-grow: 999;
			grid-template-columns: 1fr minmax(auto, max(45rem, 100% - var(--article-nav-width) - var(--article-gutter)));
			margin-inline-start: auto;
			max-inline-size: none;
		}

		.article > .content-wrapper > * {
			grid-column: 2;
		}

		.article > .content-wrapper > .full-width {
			grid-column: 1 / -1;
		}

		.article-nav {
			background-color: transparent;
			border-radius: 0;
			flex: 1 0 var(--article-nav-width);
			float: none;
			margin-block: calc(-1 * var(--content-padding-block));
			margin-inline: 0;
			padding: 0;
		}

		.article-nav > * {
			inset-block-start: 0;
			margin-inline-end: calc(-1 * var(--content-padding-inline));
			max-block-size: 100vh;
			overflow-y: auto;
			padding-block: var(--content-padding-block);
			padding-inline-end: var(--content-padding-inline);
			position: sticky;
		}
	}
}