---
const { headings } = Astro.props;
---

<ul>
	{
		headings.map((heading) => (
			<li>
				<a
					href={`#${
						heading.content.find((x) => "marks" in x).marks[0].attrs
							.id
					}`}
				>
					{heading.content.find((x) => "text" in x).text}
				</a>
				{heading.children?.length > 0 && (
					<Astro.self headings={heading.children} />
				)}
			</li>
		))
	}
</ul>
