---
const { class: className } = Astro.props;
---

<div class="content">
	<div class="article">
		<slot name="navigation" />
		<div class:list={["content-wrapper", "stack", className]}>
			<slot />
		</div>
	</div>
</div>
