<aside class="article-nav">
	<h2>In this article</h2>
	<nav>
		<ul role="list" class="article-nav__list">
			<li>
				Aegis Fighter
				<ul role="list">
					<li>Shield Gauge</li>
				</ul>
			</li>
			<li>
				Blast Archer
				<ul role="list">
					<li>Buff Charge Gauge</li>
					<li>Weak-point Targeting</li>
				</ul>
			</li>
			<li>
				<span class="font-bold underline text-strong"
					>Heavy Smasher</span
				>
				<ul role="list">
					<li>Cartridge</li>
				</ul>
			</li>
			<li>
				Spell Caster
				<ul role="list">
					<li>EP Gauge</li>
				</ul>
			</li>
			<li>
				Twin Striker
				<ul role="list">
					<li>Combo Gauge</li>
				</ul>
			</li>
			<li>Changing Classes</li>
			<li>Class Abilities</li>
		</ul>
	</nav>
</aside>
