---
import ArticleLayout from "@layouts/ArticleLayout.astro";
---

<ArticleLayout
	title="Liquid Memories"
	author="Zakum"
	lastUpdatedDate="5/10/2023"
>
	<p>
		BLUE PROTOCOL will launch with 5 classes, with more in development. Each
		class has a unique mechanic that influences their gameplay.
	</p>
	<h2>Aegis Fighter</h2>
	<p>
		The Aegis Fighter (Blade Warden) is a short-range class that fights on
		the front line, utilizing offensive and defensive skills. Aegis Fighters
		wield a one-handed sword and shield and are mainly a tank class. Their
		skills excel in crowd-control and enemy aggro management. They have
		various Light-elemental skills.
	</p>
	<h3>Shield Gauge</h3>
	<p>
		Aegis Fighters can hold down the subaction button to enter a guard
		stance. Successful blocks of enemy attacks will consume Shield Gauge.
		Once the gauge is depleted, shield-related skills will be temporarily
		unavailable.
	</p>
	<p>
		Press the normal attack button after blocking to perform a powerful
		counterattack.
	</p>
	<h2>Blast Archer</h2>
	<p>
		The Blast Archer (Keen Strider) is a long-range class that attacks
		enemies and supports allies from afar. Blast Archers utilize a bow and
		quiver to provide support from a safe distance. Their skills excel in
		supporting teammates through healing, buffing, and dispelling abnormal
		statuses, as well as applying debuffs on enemies. They have various
		Earth-elemental skills, and can be played with either auto-targeting or
		manual aim.
	</p>
	<h3>Buff Charge Gauge</h3>
	<p>
		By dealing damage, Blast Archers can charge the Buff Charge Gauge up to
		level 3. Using the subaction, Cure Arrow, will consume the gauge and
		place a healing field at the selected location. The heal amount will
		differ based on the gauge level. The gauge will charge more when dealing
		critical hits and hitting enemy weak points.
	</p>
	<h3>Weak-Point Targeting</h3>
	<p>
		Blast Archers deal increased damage when hitting an enemy’s weak point.
		These points vary between enemies, such as the head or back. You may be
		able to hit weak spots with auto aim on some enemies, but this is
		unlikely to be the case for most enemies so players will have to switch
		between auto and manual aim for maximum efficiency.
	</p>
	<h2>Heavy Smasher</h2>
	<p>
		The Heavy Smasher (Foe Breaker) is a close-range class that uses
		dynamic, heavy attacks to engage enemies. Heavy Smashers use a
		cannon-hammer and are a sub-tank/damage class. Their skills excel in
		crowd-control and dealing damage. They have various Earth-elemental
		skills.
	</p>
	<h3>Cartridge</h3>
	<p>
		Certain Heavy Smasher skills consume ammunition from the cartridge, with
		different skills consuming different amounts. If there are remaining
		rounds in the cartridge, holding the subaction button will reload the
		cartridge. If the cartridge is completely empty, pressing the subaction
		button will initiate a Quick Reload, granting 2 extra rounds of
		ammunition.
	</p>
	<h2>Spell Caster</h2>
	<p>
		The Spell Caster (Spell Weaver) is a long-range classes that uses Fire,
		Ice, and Thunder elemental skills to deal massive damage to enemies from
		afar. Spell Casters use a rod as their weapon, and are mainly a damage
		class. Their skills excel in dealing burst damage and minimal
		crowd-control, and their continuous use of elements can greatly
		contribute to the Elemental Charge Gauge.
	</p>
	<h3>EP Gauge</h3>
	<p>
		Spell Caster skills do not have cooldowns, and instead consume EP from
		the EP Gauge. Different skills require different amounts of EP. EP will
		slowly recover over time, and can be quickly recharged by holding the
		subaction button.
	</p>
	<h2>Twin Striker</h2>
	<p>
		The Twin Striker is a close-range class that unleashes fast combo
		attacks to continuously deal damage. Twin Strikers use dual axes and are
		mainly a damage class. Their skills excel in life-steal and dealing
		continuous damage, and their fast attacks can greatly contribute to the
		Party Chain. They have various Fire-elemental skills.
	</p>
	<h3>Combo Gauge</h3>
	<p>
		The Twin Striker is a close-range class that unleashes fast combo
		attacks to continuously deal damage. Twin Strikers use dual axes and are
		mainly a damage class. Their skills excel in life-steal and dealing
		continuous damage, and their fast attacks can greatly contribute to the
		Party Chain. They have various Fire-elemental skills.
	</p>
	<h2>Changing Classes</h2>
	<p>
		To change classes, complete the Class Master’s quest “A World of
		Possibilities” in the Reclamation Bureau in Asterliese. After that, you
		can switch to a weapon of a different class to change classes. Starter
		weapons can be purchased from the weapon shop in cities.
	</p>
	<h2>Class Abilities</h2>
	<p>
		When building your loadout, players have the option to select up to two
		Class-restricted abilities, and two Class-shared abilities.
		Class-restricted abilities are passive bonuses that can only be applied
		to your current class, whereas Class-shared abilities are passives that
		can be shared between classes. Only a subset of abilities can be shared,
		so be sure to check the database for those!
	</p>
</ArticleLayout>
