---
const { title, author, lastUpdatedDate } = Astro.props;
---

<header class="page-title">
	<div class="page-title__inner">
		<h1>{title}</h1>
		<div role="note" class="text-inherit cluster gutter-2xs">
			<p>By {author}</p>
			<p class="font-normal" aria-hidden="true">•</p>
			<p class="article-date">
				Last Updated <time datetime={lastUpdatedDate}
					>{new Date(lastUpdatedDate).toLocaleDateString()}</time
				>
			</p>
		</div>
	</div>
	<slot name="img" />
</header>

<style>
	.article-date {
		color: var(--color-secondary);
	}

	[role="note"] {
		font-size: var(--text-0);
		justify-content: center;
		row-gap: 0;
	}

	@screen sm {
		.page-title {
			background-image: var(--color-scrim-linear);
			padding-inline: var(--content-padding-inline);
		}

		.page-title__inner {
			text-align: initial;
		}

		[role="note"] {
			justify-content: initial;
		}
	}

	@screen md {
		[role="note"] {
			font-size: var(--text-1);
		}
	}
</style>
