---
const { title, author, lastUpdatedDate } = Astro.props;
---

<header class="page-title" data-align="start">
	<div class="page-title__inner">
		<h1>{title}</h1>
		<div role="note" class="text-inherit cluster gutter-2xs">
			<p class="font-bold">By {author}</p>
			<p aria-hidden="true">•</p>
			<p class="font-bold text-secondary-on-dark">
				Last Updated <time datetime={lastUpdatedDate}
					>{new Date(lastUpdatedDate).toLocaleDateString()}</time
				>
			</p>
		</div>
	</div>
	<slot name="img" />
</header>

<style>
	[role="note"] {
		font-size: var(--text-0);
		justify-content: center;
		row-gap: 0;
	}

	@screen sm {
		[role="note"] {
			justify-content: initial;
		}
	}

	@screen md {
		[role="note"] {
			font-size: var(--text-1);
		}
	}
</style>
