---
const { title, author, lastUpdatedDate } = Astro.props;
---

<header class="page-title">
	<hgroup class="page-title__inner stack">
		<h1>{title}</h1>
		<p>
			<span
				>By <span class="font-bold text-secondary-on-dark"
					>{author}</span
				></span
			>
			<span class="visually-hidden">;&nbsp;</span>
			<span aria-hidden="true">•</span>
			<span
				>Last Updated <time datetime={lastUpdatedDate}
					>{new Date(lastUpdatedDate).toLocaleDateString()}</time
				></span
			>
		</p>
	</hgroup>
	<slot name="img" />
</header>

<style>
	[aria-hidden="true"] {
		margin-inline: var(--space-2xs-rem);
	}

	@screen sm {
		[role="note"] {
			justify-content: initial;
		}
	}
</style>
