---
import StoryblokImg from "@components/Image/StoryblokImg.astro";

const { title } = Astro.props;

const defaultBanners = [
	"https://a2-us.storyblok.com/f/1014865/2000x1125/b6ac2a6acb/poster1.png",
	"https://a2-us.storyblok.com/f/1014865/2560x1440/8826285d6c/poster2.png",
	"https://a2-us.storyblok.com/f/1014865/2560x1440/71f4ec4b33/poster3.png",
	"https://a2-us.storyblok.com/f/1014865/2560x1440/001e8c5714/poster4.png",
	"https://a2-us.storyblok.com/f/1014865/2560x1440/94556d204e/poster5.png",
	"https://a2-us.storyblok.com/f/1014865/2560x1440/c1842dd36d/poster6.png",
];
const src = defaultBanners[Math.floor(Math.random() * defaultBanners.length)];
---

<header class="page-title">
	<hgroup class="page-title__inner stack">
		<h1>{title}</h1>
		<slot />
	</hgroup>
	<slot name="img">
		<StoryblokImg src={src} alt="" sizes="95vw" />
	</slot>
</header>
