@layer components {
	.page-title {
		position: relative;
	}

	.page-title__inner,
	.page-title img {
		border-radius: var(--border-radius);
	}

	.page-title__inner {
		aspect-ratio: 32 / 9;
		background-image: var(--color-scrim-linear);
		color: var(--color-text-inverted);
		display: flex;
		flex-flow: column nowrap;
		font-size: var(--text-1);
		justify-content: center;
		padding-block: var(--space-xl);
		padding-inline: max(var(--content-padding-inline), var(--space-s-l));
	}

	.page-title__inner h1 {
		color: inherit;
	}

	.page-title__inner b,
	.page-title__inner strong {
		color: var(--color-secondary-on-dark);
	}

	:where(.page-title h1) + * {
		margin-block-start: 0.75em;
		line-height: 1.375;
	}

	.page-title img {
		background-color: var(--color-surface-2);
		block-size: 100%;
		inset: 0;
		object-fit: cover;
		object-position: center;
		position: absolute;
		z-index: -1;
	}

	@screen xl {
		.page-title {
			align-items: stretch;
			display: flex;
			flex-flow: row nowrap;
			gap: var(--default-gutter);
		}

		.page-title__inner,
		.page-title img {
			aspect-ratio: 7 / 3;
			flex: 1 0 var(--grid-min-item-size);
			inline-size: 0;
			max-inline-size: 100%;
		}

		.page-title__inner {
			background-color: oklch(50% 0.1 40);
		}

		.page-title img {
			block-size: auto;
			position: initial;
			z-index: initial;
		}
	}
}