@layer components {
	.page-title {
		align-items: center;
		color: #fff;
		background-image: var(--color-scrim-radial);
		border-radius: var(--border-radius);
		display: flex;
		font-size: var(--text-1);
		overflow: hidden;
		padding-block: var(--space-xl);
		padding-inline: var(--space-xs);
		position: relative;
	}

	.page-title__inner {
		inline-size: 100%;
		text-align: center;
	}

	.page-title__inner > * {
		margin-inline: auto;
	}

	.page-title__inner > :empty {
		display: none;
	}

	.page-title h1 {
		color: inherit;
	}

	:where(.page-title h1) + * {
		margin-block-start: 1em;
	}

	.page-title img {
		background-color: var(--color-surface-3);
		height: 100%;
		inset: 0;
		object-fit: cover;
		object-position: center;
		position: absolute;
		width: 100%;
		z-index: -1;
	}

	.page-title b,
	.page-title strong {
		color: var(--color-secondary-on-dark);
	}

	@screen sm {
		.page-title {
			padding-inline: var(--content-padding-inline);
		}

		.page-title:where([data-align="start"]) {
			display: grid;
			grid-template-columns:
				1fr minmax(auto, max(59.625rem, 100% - var(--heading-nav-width, 0px) * 2 - var(--article-gutter, 0px) * 2)) calc(var(--heading-nav-width, 0px) + var(--article-gutter, 0px));
			background-image: var(--color-scrim-linear);
		}

		.page-title:where([data-align="start"]) .page-title__inner {
			grid-column: 2;
			text-align: start;
		}

		.page-title:where([data-align="start"]) .page-title__inner > * {
			margin-inline-start: 0;
		}
	}

	@screen md {
		.page-title {
			min-block-size: 24rem;
		}
	}
}