@layer components {
	heading-nav ul {
		display: none;
		list-style-type: '';
		margin-block-start: 1em;
		padding: 0;
	}

	heading-nav:state(open) ul {
		display: block;
	}

	heading-nav ul > li + li {
		margin-block-start: 0.75em;
	}

	heading-nav ul li > ul {
		margin-block-start: 0.75em;
		padding-inline-start: 1.5em;
	}

	@supports (block-size: 1lh) {

		heading-nav ul,
		heading-nav li {
			position: relative;
		}

		heading-nav ul li > ul::before {
			background-color: var(--color-separator-weak);
			content: '';
			inline-size: 1px;
			inset-block: -0.6875em 0.188em;
			inset-block: -0.6875em 0.125lh;
			inset-inline-start: 0.1em;
			position: absolute;
		}
	}

	heading-nav a {
		@apply underline-on-hover;
		color: var(--color-accent);
		display: block;
	}

	@media (prefers-reduced-motion: no-preference) {
		@supports (interpolate-size: allow-keywords) {
			heading-nav ul {
				block-size: 0;
				opacity: 0;
				interpolate-size: allow-keywords;
				transition:
					block-size 0.2s ease-in,
					opacity 0.2s ease-in,
					display 0.2s ease-in allow-discrete;
			}

			heading-nav:state(open) ul {
				block-size: auto;
				opacity: 1;
			}

			@starting-style {
				heading-nav:state(open) ul {
					block-size: 0;
					opacity: 0;
				}
			}
		}
	}

	.content-wrapper {
		--content-margin-start: calc(var(--text-5) * 1.5);
	}

	:where(heading-nav) + .content-wrapper {
		margin-block-start: var(--content-margin-start);
	}

	@container toc style(--toc-variant: sidebar) {
		heading-nav h2 {
			color: var(--color-text-strong);
		}

		heading-nav ul {
			display: block;
			block-size: auto;
			margin-block-start: 1.25em;
			opacity: 1;
		}

		.content-wrapper {
			--content-margin-start: 0px;
		}
	}
}