---
const { title, class: className } = Astro.props;
---

<nav class:list={["heading-nav", className]} aria-label="Table of Contents">
	<heading-nav>
		<h2>
			<span class="heading-nav__eyebrow"
				>On this page<span class="visually-hidden">:&nbsp;</span></span
			>
			{title && <span class="heading-nav__title">{title}</span>}
		</h2>
		<slot />
	</heading-nav>
</nav>

<script>
	class HeadingNav extends HTMLElement {
		constructor() {
			super();
			this.addEventListener("click", (event) => {
				const id = event.target.closest("a")?.href.split("#")[1];
				if (document.getElementById(id)) {
					const h = document.getElementById(id);
					if (h.closest("details")) {
						h.closest("details").open = true;
					}
				}
			});
		}
	}

	customElements.define("heading-nav", HeadingNav);
</script>
