---
const { title = "On this page", class: className } = Astro.props;
---

<nav class:list={["heading-nav", className]} aria-label="Table of Contents">
	<heading-nav>
		<h2>{title}</h2>
		<slot />
	</heading-nav>
</nav>

<script>
	class HeadingNav extends HTMLElement {
		constructor() {
			super();
			this.addEventListener("click", (event) => {
				const id = event.target.closest("a")?.href.split("#")[1];
				if (document.getElementById(id)) {
					const h = document.getElementById(id);
					if (h.closest("details")) {
						h.closest("details").open = true;
					}
				}
			});
		}
	}

	customElements.define("heading-nav", HeadingNav);
</script>
