@font-face {
	font-display: swap;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/WorkSans-VariableFont_wght.woff2') format('woff2-variations');
}

@font-face {
	font-display: swap;
	font-family: 'Work Sans';
	font-style: italic;
	font-weight: 100 900;
	src: url('/fonts/WorkSans-Italic-VariableFont_wght.woff2') format('woff2-variations');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/NotoSansJP-VariableFont_wght.woff2') format('woff2-variations');
}