---
const { title, url, class: className, innerClass, prefetch } = Astro.props;
---

<div class:list={["card-frame", className]}>
	<div class:list={["card", "guide-card", innerClass]}>
		<div class="card-body">
			<div class="stack stack-space-2xs-rem">
				<a
					class="card-title card-link underline-on-hover"
					href={url}
					rel={prefetch ? "prefetch" : null}
				>
					{title}
				</a>
				<slot name="summary" />
			</div>
		</div>
		<div class="card-img">
			<slot name="img">
				<img />
			</slot>
		</div>
	</div>
</div>

<style>
	.guide-card {
		gap: var(--space-2xs-rem);
		padding: var(--space-2xs);
	}

	.card-body {
		padding: var(--space-3xs-2xs);
	}

	.card-img {
		border-radius: var(--border-radius-s);
	}
</style>

<style is:global>
	.guide-card .card-img img {
		aspect-ratio: 5 / 2;
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
</style>
