---
const { title, url, class: className, innerClass } = Astro.props;
---

<div class:list={["card-frame", className]}>
	<div class:list={["card", "guide-card", innerClass]}>
		<div class="card-body">
			<div class="stack">
				<a
					class="h4 card-title card-link underline-on-hover"
					href={url}
				>
					{title}
				</a>
				<slot name="summary" />
			</div>
		</div>
		<div class="card-img">
			<slot name="img">
				<img />
			</slot>
		</div>
	</div>
</div>

<style>
	.guide-card {
		gap: var(--space-3xs);
		padding: calc(var(--space-2xs) - 2px);
	}

	.card-body {
		padding: var(--border-radius-s);
	}

	.card-img {
		border-radius: var(--border-radius-s);
	}
</style>

<style is:global>
	.guide-card .card-img img {
		aspect-ratio: 5 / 2;
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
</style>
