---
const { title, url, class: className } = Astro.props;
---

<div class:list={["card", "guide-card", className]}>
	<div class="card-body">
		<a class="text-1 mbe-2xs-cqi-rem card-title card-link underline-on-hover" href={url}>
			{title}
		</a>
		<slot name="summary" />
	</div>
	<div class="card-img">
		<slot name="img">
			<img />
		</slot>
	</div>
</div>

<style>
	.card-body {
		line-height: 1.4;
		padding: var(--space-s);
	}

	.card-img {
		border-radius: var(--border-radius-s);
		order: initial;
	}
</style>

<style is:global>
	.guide-card .card-img img {
		aspect-ratio: 7 / 2;
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
</style>
