---
import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle/PageTitle.astro";
---

<BaseLayout>
	<PageTitle title="Oops">
		<p>Page not found or I messed up</p>
	</PageTitle>
	<div class="content">
		<div class="content-wrapper text-center stack">
			<p>Sorry</p>
		</div>
	</div>
</BaseLayout>
