---
import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle/PageTitle.astro";
---

<BaseLayout>
	<PageTitle title="Bapharia.edu">
		<p class="font-bold text-secondary-on-dark">
			The premier information hub for BLUE PROTOCOL
		</p>
	</PageTitle>
	<div class="content">
		<div class="content-wrapper text-center stack">
			<p class="font-bold text-1 max-is-none">
				<span>Your are visitor number</span>
				<span class="visitor-counter">01069</span>
			</p>
			<div class="figure uc-notice stack">
				<h2>
					<span class="block h2 uppercase text-inherit">
						Caution!
					</span>
					<span class="visually-hidden">&nbsp;</span>
					<span class="block text-1 font-bold">
						This site under Construction!
					</span>
				</h2>
			</div>
			<p>
				Sorry, we are currently under construction. Please come back
				soon.
			</p>
		</div>
	</div>
</BaseLayout>

<style>
	.visitor-counter {
		color: var(--color-accent);
		display: block;
		font-size: var(--text-8);
		font-variant-numeric: tabular-nums;
		font-weight: 800;
		letter-spacing: -0.05em;
		line-height: 1;
	}

	.uc-notice {
		@apply shadow-xl shadow-[#ffe70933];
		background-image: radial-gradient(rgba(0, 0, 0, 0.1), transparent),
			repeating-linear-gradient(
				-60deg,
				#000,
				#000 50px,
				#ffe709 50px,
				#ffe709 100px
			);
		border: 2px solid #ffe709;
		box-shadow: 0 0 0 2px #000, var(--tw-shadow);
		border-radius: var(--border-radius);
		padding: var(--space-xs-s);
	}

	.uc-notice > * {
		@apply shadow-lg;
		background-color: #000;
		border: 2px solid;
		border-radius: var(--border-radius-s);
		box-shadow: 0 0 0 2px #000, var(--tw-shadow);
		color: #ffe709;
		display: inline-block;
		line-height: 1;
		max-inline-size: 80%;
		padding-block: var(--space-3xs-2xs);
		padding-inline: var(--space-s-m);
	}
</style>
