---
import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle/PageTitle.astro";
---

<BaseLayout>
	<PageTitle title="Bapharia.edu">
		<p class="font-bold text-secondary-on-dark">
			The premier information hub for BLUE PROTOCOL
		</p>
	</PageTitle>
	<div class="content">
		<div class="content-wrapper text-center stack">
			<p
				class="font-bold text-1 bg-accent text-inverted p-s-m rounded shadow-xl"
			>
				Your are visitor number
				<span class="block text-8 leading-none font-extrabold"
					>01069</span
				>
			</p>
			<h2>Caution</h2>
			<p>
				Sorry, we are currently under construction. Please come back
				soon.
			</p>
		</div>
	</div>
</BaseLayout>
