---
import Base from '@layouts/Base.astro';
---

<Base>
	<main class="stack">
		<h1>Astro</h1>
		<p>BLUE PROTOCOL will launch with 5 classes, with more in development. Each class has a unique mechanic that influences their gameplay.</p>
		<h2>Aegis Fighter</h2>
		<p>The Aegis Fighter (Blade Warden) is a short-range class that fights on the front line, utilizing offensive and defensive skills. Aegis Fighters wield a one-handed sword and shield and are mainly a tank class. Their skills excel in crowd-control and enemy aggro management. They have various Light-elemental skills.</p>
		<h3>Shield Gauge</h3>
		<p>Aegis Fighters can hold down the subaction button to enter a guard stance. Successful blocks of enemy attacks will consume Shield Gauge. Once the gauge is depleted, shield-related skills will be temporarily unavailable.</p>
		<p>Press the normal attack button after blocking to perform a powerful counterattack.</p>
	</main>
</Base>