---
import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle/PageTitle.astro";
---

<BaseLayout>
	<PageTitle title="Offline" />
	<div class="content">
		<div class="content-wrapper text-center stack">
			<p>Congratulations! You are touching grass</p>
		</div>
	</div>
</BaseLayout>
