---
import Svg from "@jasikpark/astro-svg-loader";
---

<div class="language-select cluster gutter-2xs justify-end">
	<p id="language-select-label-1" class="font-bold">Language:</p>
	<p id="language-select-description-1" class="visually-hidden">
		This content is available in English and Japanese
	</p>
	<a
		href={Astro.url}
		class="button icon-label-button rounded-full"
		data-size="s"
		aria-current="page"
	>
		<div class="button__icon">
			<Svg src={import("@assets/icons/circle-check-fill.svg?raw")} />
		</div>
		English
	</a>
	<a
		lang="ja"
		href={Astro.url}
		class="button bg-separator-weak text-regular underline-on-hover rounded-full"
		data-size="s">日本語</a
	>
</div>
