@layer base {
	:root {
		--button-icon-size: var(--space-m);
		--button-padding-block: var(--space-2xs);
		--button-padding-inline: var(--space-s);
		--button-height: calc(var(--button-icon-size) + var(--button-padding-block) * 2 + 4px);
	}
}

@layer components {
	.button {
		align-items: center;
		background-color: var(--color-accent);
		border: 2px solid transparent;
		border-radius: var(--border-radius);
		color: var(--color-text-inverted);
		cursor: pointer;
		display: inline-flex;
		font-weight: 500;
		justify-content: center;
		line-height: 1;
		min-block-size: var(--button-height);
		padding-block: var(--button-padding-block);
		padding-inline: var(--button-padding-inline);
		position: relative;
	}

	.button:not(.bg-transparent) {
		text-decoration: none;
	}

	.button:where(:not([lang^="en"])) {
		font-weight: 700;
	}

	.button:focus {
		@apply focus-ring;
		border-color: currentColor;
		outline-offset: 0;
	}

	.button-s {
		--button-icon-size: var(--space-s);
		--button-padding-inline: var(--space-xs);
		--button-height: calc(var(--button-icon-size) + var(--button-padding-block) * 2 + 4px);
		font-size: var(--text--1);
	}

	.button__icon {
		block-size: var(--button-icon-size);
		inline-size: var(--button-icon-size);
	}

	.button__icon svg {
		block-size: 100%;
		inline-size: 100%;
		vertical-align: middle;
	}

	.icon-label-button {
		gap: var(--space-2xs);
	}

	.icon-label-button .button__icon:first-child {
		margin-inline-start: calc(-1 * var(--space-3xs));
	}

	.icon-label-button .button__icon:last-child {
		margin-inline-end: calc(-1 * var(--space-3xs));
	}

	.icon-button {
		--button-padding-inline: var(--button-padding-block);
		font-size: 0;
	}
}