@layer base {
	:root {
		--button-background: var(--color-accent);
		--button-hover-background: var(--color-accent-light);
		--button-active-background: var(--color-accent-dark);
		--button-color: var(--color-text-inverted);
		--button-icon-size: var(--space-m-rem);
		--button-padding-block: var(--space-2xs);
		--button-padding-inline: var(--space-m);
		--button-height: calc(var(--button-icon-size) + var(--button-padding-block) * 2 + 4px);
	}
}

@layer components {
	.button {
		--icon-size: var(--button-icon-size);
		align-items: center;
		background-color: var(--button-background);
		border: 2px solid transparent;
		border-radius: var(--border-radius);
		color: var(--button-color);
		display: inline-flex;
		font-weight: 600;
		justify-content: center;
		line-height: 1;
		min-block-size: var(--button-height);
		padding-block: var(--button-padding-block);
		padding-inline: var(--button-padding-inline);
		position: relative;
	}

	.button:not(.bg-transparent) {
		text-decoration: none;
	}

	a:where(.button),
	button:where(.button),
	input:where(.button) {
		cursor: pointer;
	}

	@media (hover: hover) {

		a:where(.button):hover,
		button:where(.button):hover,
		input:where(.button):hover {
			background-color: var(--button-hover-background);
		}
	}

	a:where(.button):active,
	button:where(.button):active,
	input:where(.button):active {
		background-color: var(--button-active-background);
	}

	.button:focus {
		@apply focus-ring;
		border-color: currentColor;
		outline-offset: 0;
	}

	.button:where([data-size="s"]) {
		--button-icon-size: var(--space-s-rem);
		--button-padding-inline: var(--space-s);
		--button-height: calc(var(--button-icon-size) + var(--button-padding-block) * 2 + 4px);
		font-size: var(--text--1);
	}

	.button:where([data-color="neutral"]) {
		--button-background: var(--color-shade);
		--button-hover-background: var(--color-shade-strong);
		--button-active-background: var(--color-shade-weak);
		--button-color: var(--color-text-regular);
	}

	.button:where([data-type="ghost"]) {
		--button-background: transparent;
		--button-hover-background: transparent;
		--button-active-background: var(--color-shade-weak);
		--button-color: var(--color-text-regular);
	}

	.button:where([data-type="ghost"]:not(:focus)) {
		border-color: var(--color-separator);
	}

	@media (hover: hover) {
		.button:where([data-type="ghost"]:hover:not(:focus)) {
			border-color: var(--color-separator-strong);
		}
	}

	.icon-label-button {
		--button-gap: calc(var(--button-padding-inline) / 3);
		gap: var(--button-gap);
	}

	.icon-label-button :where(.icon:first-child) {
		margin-inline-start: calc(-1 * var(--button-gap));
	}

	.icon-label-button :where(.icon:last-child) {
		margin-inline-end: calc(-1 * var(--button-gap));
	}

	.icon-button {
		font-size: 0;
		gap: 0;
		padding-inline: var(--button-padding-block);
	}

	.icon-button .icon {
		margin: 0;
	}

	.chip {
		border-radius: 9999px;
		padding-inline: var(--space-s);
	}

	.chip:where([data-size="s"]) {
		padding-inline: var(--space-xs);
	}
}