@layer base {
	#root {
		--button-background: var(--color-accent);
		--button-hover-background: var(--color-accent-light);
		--button-active-background: var(--color-accent-dark);
		--button-color: var(--color-text-inverted);
		--button-icon-size: 1.5rem;
		--button-padding-block: var(--space-2xs);
		--button-padding-inline: var(--space-s);
		--button-height: calc(var(--button-icon-size) + var(--button-padding-block) * 2 + 4px);
	}
}

@layer components {
	.button {
		--icon-size: var(--button-icon-size);
		align-items: center;
		background-color: var(--button-background);
		border: 2px solid transparent;
		border-radius: var(--border-radius);
		color: var(--button-color);
		display: inline-flex;
		font-weight: 550;
		justify-content: center;
		line-height: 1;
		min-block-size: var(--button-height);
		padding-block: var(--button-padding-block);
		padding-inline: var(--button-padding-inline);
		position: relative;
		transition: transform 0.04s ease-in;
	}

	.button:not(.bg-transparent) {
		text-decoration: none;
	}

	a:where(.button),
	button:where(.button),
	input:where(.button) {
		cursor: pointer;
	}

	@media (hover: hover) {

		a:where(.button):hover,
		button:where(.button):hover,
		input:where(.button):hover,
		summary:where(.button):hover {
			background-color: var(--button-hover-background);
			color: var(--button-hover-color, var(--button-color));
		}
	}

	a:where(.button):active,
	button:where(.button):active,
	input:where(.button):active,
	summary:where(.button):active {
		background-color: var(--button-active-background);
		color: var(--button-active-color, var(--button-color));
		transform: translateY(1px);
	}

	.button:focus {
		@apply focus-ring;
	}

	.button:where([data-size="s"]) {
		--button-icon-size: 1rem;
		--button-padding-inline: var(--space-xs);
		--button-height: calc(var(--button-icon-size) + var(--button-padding-block) * 2 + 4px);
		font-size: var(--text--1);
	}

	.button:where([data-color="neutral"]) {
		--button-background: var(--color-shade);
		--button-hover-background: var(--color-shade-strong);
		--button-active-background: var(--color-shade-strongest);
		--button-color: var(--color-text-regular);
	}

	.button:where([data-type="ghost"], [data-type="text"]) {
		--button-background: transparent;
		--button-hover-background: var(--color-shade-weak);
		--button-active-background: var(--color-shade);
	}

	.button:where([data-type="ghost"]) {
		--button-color: var(--color-text-regular);
		border-color: var(--color-separator);
	}

	.button:where([data-type="ghost"]:active) {
		border-color: var(--color-separator-strong);
	}

	.button:where([data-type="text"]) {
		--button-color: var(--color-accent);
		--button-active-color: var(--color-accent-dark);
	}

	.icon-label-button {
		--button-gap: 0.5em;
		gap: var(--button-gap);
	}

	.icon-label-button:not([class*="justify-"]) :where(.icon:first-child) {
		margin-inline-start: calc(-1 * var(--button-gap));
	}

	.icon-label-button:not([class*="justify-"]) :where(.icon:last-child) {
		margin-inline-end: calc(-1 * var(--button-gap));
	}

	.icon-button {
		gap: 0;
		padding-inline: var(--button-padding-block);
	}

	.icon-button .icon {
		margin: 0;
	}

	.icon-button > :not(.icon) {
		font-size: 0;
		font-size-adjust: none;
	}

	.chip {
		border-radius: var(--border-radius-full);
		padding-inline: var(--space-s);
	}

	.chip:where([data-size="s"]) {
		padding-inline: var(--space-xs);
	}
}