@layer base {
	.card {
		--card-body-target-width: 21.375rem;
		--card-img-target-width: 16.875rem;
	}
}

@layer components {
	.card-frame {
		position: relative;
	}

	.card-frame::before {
		content: '';
		background-color: var(--color-accent-light);
		border-radius: var(--border-radius);
		display: block;
		margin-inline: auto;
		opacity: 0.1;
		position: absolute;
		top: 50%;
		right: var(--space-2xs);
		left: var(--space-2xs);
		bottom: calc(-1 * var(--space-3xs));
	}

	.card-frame > .card {
		height: 100%;
	}
	
	.card {
		background-color: var(--color-surface-lightest);
		border: 2px solid transparent;
		border-radius: var(--border-radius);
		display: flex;
		flex-flow: row wrap;
		overflow: hidden;
		position: relative;
		transform-origin: bottom;
		transition: transform 0.04s ease-in;
	}

	.card:has(.card-link:focus-visible) {
		@apply focus-ring;
	}

	@supports not selector(:has(a:focus-visible)) {
		.card:focus-within {
			@apply focus-ring;
		}
	}

	.card-frame:active > .card {
		transform: translateY(calc(var(--space-3xs) / 2));
	}

	.card-img {
		align-items: center;
		display: flex;
		flex-basis: var(--card-img-target-width);
		flex-grow: 1;
		justify-content: center;
		order: -1;
		overflow: hidden;
		overflow: clip;
	}

	.card-img img {
		transform-origin: center;
		transition: transform 0.2s ease-out;
	}

	.card-body {
		flex-basis: var(--card-body-target-width);
		flex-grow: 999;
		max-inline-size: 100%;
		padding: var(--space-xs-s);
	}

	.card-title {
		color: var(--color-text-strong);
		display: block;
		font-size: var(--text-2);
		font-weight: 700;
		line-height: 1.25;
	}

	.card-link::before {
		content: '';
		inset: 0;
		position: absolute;
		z-index: 1;
	}

	.card-link:focus {
		outline: none;
	}

	.card-link:focus-visible {
		text-decoration: underline;
	}

	@screen sm {
		.card {
			background-color: var(--color-surface-light);
		}

		.card-frame:where(.on-content) > .card,
		.card.on-content {
			background-color: var(--color-surface-lightest);
		}
	}

	@media (hover: hover) {
		.card:hover {
			background-color: var(--color-surface-lightest);
		}

		.card:hover .card-img img {
			transform: scale(105%);
		}
	}

	@media (prefers-reduced-motion) {

		.card:active,
		.card:hover .card-img img {
			transform: none;
		}
	}
}