@layer base {
	.card {
		--card-background: var(--color-surface-1);
		--card-body-target-width: 16rem;
		--card-img-target-width: 216px;
	}
}

@layer components {
	.card {
		background-color: var(--card-background);
		border: 2px solid transparent;
		border-radius: var(--border-radius);
		display: flex;
		flex-flow: row wrap;
		overflow: hidden;
		position: relative;
		transform-origin: bottom;
		transition: transform 0.04s ease-in;
	}

	@media (hover: hover) {
		.card:hover {
			--card-background: var(--color-surface-2);
			box-shadow:
				0 6px 1px -6px var(--color-box-shadow),
				0 12px 4px -10px var(--color-box-shadow);
			transform: translateY(-2px);
		}
	}

	.card:focus-within {
		@apply focus-ring;
	}

	.card:active {
		transform: translateY(2px);
	}

	.card-img {
		align-items: center;
		display: flex;
		flex-basis: var(--card-img-target-width);
		flex-grow: 1;
		justify-content: center;
		margin-inline: auto;
		order: -1;
		overflow: hidden;
		overflow: clip;
	}

	.card-body {
		flex-basis: var(--card-body-target-width);
		flex-grow: 999;
		max-inline-size: 100%;
		padding: var(--space-xs-s);
	}

	.card-title {
		color: var(--color-text-strong);
		display: block;
		font-size: var(--text-1);
		font-weight: 700;
		line-height: 1.25;
	}

	.card-link::before {
		content: '';
		inset: 0;
		position: absolute;
		z-index: 1;
	}

	.card-link:focus {
		outline: none;
	}

	.card-link:focus-visible {
		text-decoration: underline;
	}
}