@layer base {
	.card {
		--card-body-target-width: 21.375rem;
		--card-img-target-width: 16.875rem;
	}
}

@layer components {
	.card {
		background-color: var(--color-surface-light);
		border: 2px solid transparent;
		border-radius: var(--border-radius);
		display: flex;
		flex-flow: row wrap;
		overflow: hidden;
		position: relative;
		transform-origin: bottom;
		transition: transform 0.05s ease-in;
	}

	.card:has(.card-link:focus-visible) {
		@apply focus-ring;
	}

	@supports not selector(:has(a:focus-visible)) {
		.card:focus-within {
			@apply focus-ring;
		}
	}

	.card:active {
		transform: scale(0.99);
	}

	.card-img {
		align-items: center;
		display: flex;
		flex-basis: var(--card-img-target-width);
		flex-grow: 1;
		justify-content: center;
		order: -1;
		overflow: hidden;
		overflow: clip;
	}

	.card-img img {
		transform-origin: center;
		transition: transform 0.2s ease-out;
	}

	.card-body {
		flex-basis: var(--card-body-target-width);
		flex-grow: 999;
		max-inline-size: 100%;
		padding: var(--space-xs-s);
	}

	.card-title {
		color: var(--color-text-strong);
		display: block;
		font-size: var(--text-2);
		font-weight: 700;
		line-height: 1.25;
	}

	.card-link::before {
		content: '';
		inset: 0;
		position: absolute;
		z-index: 1;
	}

	.card-link:focus {
		outline: none;
	}

	.card-link:focus-visible {
		text-decoration: underline;
	}

	@screen sm {
		.card {
			background-color: var(--color-surface-1);
		}
	}

	@media (hover: hover) {
		.card:hover {
			background-color: var(--color-surface-light);
		}

		.card:hover .card-img img {
			transform: scale(105%);
		}
	}

	@media (prefers-reduced-motion) {

		.card:active,
		.card:hover .card-img img {
			transform: none;
		}
	}
}