@layer components {

	summary,
	summary.button {
		align-items: center;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	summary {
		cursor: pointer;
		list-style: none;
	}

	summary.button {
		--button-background: var(--color-accent);
		--button-hover-background: var(--color-accent-light);
		--button-active-background: var(--color-accent-dark);
		--button-color: var(--color-text-inverted);
		border-color: transparent;
	}

	summary.button:focus {
		border-color: var(--color-focus-ring);
		outline: 2px solid var(--color-text-inverted);
		outline-offset: -4px;
	}

	.icon.details-open-icon {
		display: none;
	}

	details[open] .details-open-icon {
		display: block;
	}

	details[open] .details-closed-icon {
		display: none;
	}

	details::details-content {
		overflow: clip;
	}

	@media (prefers-reduced-motion: no-preference) {
		@supports (interpolate-size: allow-keywords) {
			details::details-content {
				block-size: 0;
				opacity: 0;
				interpolate-size: allow-keywords;
				transition:
					block-size 0.2s ease-in,
					opacity 0.2s ease-in,
					content-visibility 0.2s ease-in allow-discrete;
			}

			details[open]::details-content {
				block-size: auto;
				opacity: 1;
			}
		}
	}
}