@layer components {
	.icon {
		align-items: center;
		display: flex;
		height: var(--icon-size, 1.5rem);
		justify-content: center;
		width: var(--icon-size, 1.5rem);
	}

	.icon svg {
		height: 100%;
		width: 100%;
	}
}