@layer base {
	.note {
		--icon-size: 20px;
		--note-icon-box: 36px;
		--note-icon-outline: 6px;
		--note-padding: var(--space-s-m);
	}
}

@layer components {
	.note {
		background-color: var(--color-accent-surface);
		border-radius: var(--border-radius);
		container: note / inline-size;
	}

	.note a {
		color: inherit;
	}

	.note-body {
		font-size: var(--text-0);
		padding: var(--note-padding);
	}

	.note-title {
		font-weight: 700;
	}

	.note-icon {
		display: none;
	}

	@supports (clip-path: shape(from 0 0, close)) {
		.note {
			background: none;
			border-radius: var(--border-radius);
			display: grid;
			grid-template-columns: minmax(0px, 1fr) var(--note-icon-box);
			grid-template-rows: auto var(--note-icon-box);
			overflow: clip;
		}

		.note-body {
			background-color: var(--color-accent-surface);
			clip-path: shape(from 0 0,
					hline to 100%,
					vline to calc(100% - var(--note-icon-box) - var(--border-radius) - var(--note-icon-outline)),
					arc by calc(-1 * var(--border-radius)) var(--border-radius) of var(--border-radius) cw,
					hline to calc(100% - var(--note-icon-box) - var(--note-icon-outline) + var(--border-radius)),
					arc by calc(-1 * var(--border-radius)) var(--border-radius) of var(--border-radius) ccw,
					vline to calc(100% - var(--border-radius)),
					arc by calc(-1 * var(--border-radius)) var(--border-radius) of var(--border-radius) cw,
					hline to 0,
					close);
			grid-column: 1 / -1;
			grid-row: 1 / -1;
			padding-inline: var(--note-padding) max(var(--note-padding), var(--note-padding) / 2 + var(--note-icon-box) + var(--note-icon-outline));
		}

		.note-icon {
			background-color: var(--color-accent-light);
			border-radius: var(--border-radius);
			color: #fff;
			display: grid;
			place-items: center;
			width: var(--note-icon-box);
			height: var(--note-icon-box);
			grid-column: 2;
			grid-row: 2;
		}

		.note-icon > .icon {
			grid-area: 1 / 1;
			width: var(--icon-size);
			height: var(--icon-size);
		}

		.note[data-icon="top"] {
			grid-template-rows: var(--note-icon-box) auto;
		}

		[data-icon="top"] .note-body {
			clip-path: shape(from calc(100% - var(--note-icon-box) - var(--note-icon-outline) - var(--border-radius)) 0,
					arc by var(--border-radius) var(--border-radius) of var(--border-radius) cw,
					vline to calc(var(--note-icon-box) + var(--note-icon-outline) - var(--border-radius)),
					arc by var(--border-radius) var(--border-radius) of var(--border-radius) ccw,
					hline to calc(100% - var(--border-radius)),
					arc by var(--border-radius) var(--border-radius) of var(--border-radius) cw,
					vline to 100%,
					hline to 0,
					vline to 0,
					close);
		}

		[data-icon="top"] .note-icon {
			grid-row: 1;
		}
	}

	[data-style="tip"] .note-body {
		background-color: var(--color-secondary-surface);
	}

	[data-style="tip"] .note-icon {
		background-color: var(--color-secondary);
	}

	[data-style="caution"] .note-body {
		background-color: var(--color-alert-surface);
	}

	[data-style="caution"] .note-icon {
		background-color: var(--color-alert);
	}
}