@layer components {

	.note-title,
	.note-body {
		padding: var(--space-xs-s);
	}

	.note {
		background-color: var(--color-accent-surface);
		border-radius: var(--border-radius);
		box-sizing: content-box;
		max-inline-size: 63ch;
		overflow: hidden;
		padding: var(--space-3xs);
	}

	.note,
	:where(.note) + * {
		--stack-space-override: var(--space-m-rem);
	}

	.note-title {
		/* background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.9) 60%, transparent 300%); */
		background-color: rgba(0, 0, 0, 0.86);
		border-radius: var(--border-radius-s);
		color: #fff;
		font-weight: 700;
		line-height: 1;
		padding-block: var(--space-xs);
	}

	.note[data-style="tip"] {
		background-color: var(--color-secondary-surface);
	}

	.note[data-style="caution"] {
		background-color: var(--color-alert-surface);
	}

	.note-body {
		line-height: 1.5;
	}

	.note a {
		color: inherit;
	}
}