@layer components {
	.table-container {
		inline-size: max-content;
		max-inline-size: 100%;
		overflow-x: auto;
	}

	.table-container:focus-visible {
		outline-offset: 2px;
	}

	table {
		border-radius: var(--border-radius);
		border: 2px solid var(--color-separator);
		border-collapse: separate;
		font-variant-numeric: tabular-nums;
		line-height: 1.25;
		overflow: hidden;
	}

	.table-container:focus-visible > table {
		border-color: currentColor;
	}

	thead {
		background-color: var(--color-surface-1);

	}

	tbody td,
	tbody th {
		border-block-start: 1px solid var(--color-separator);
	}

	th,
	td {
		max-inline-size: 40ch;
		padding-block: var(--space-2xs-xs);
		padding-inline: var(--space-xs-s);
		text-align: -webkit-match-parent;
		text-align: match-parent;
	}

	th + th,
	th + td,
	td + td {
		border-inline-start: 1px solid var(--color-separator);
	}

	table[data-layout="dense"] {
		font-size: 1rem;
	}

	[data-layout="dense"] th,
	[data-layout="dense"] td {
		padding-block: 8px;
		padding-inline: 12px;
	}
}