@font-face {
	font-display: block;
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/PublicSans[wght].woff2') format('woff2-variations');
}

@font-face {
	font-display: block;
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: 100 900;
	src: url('/fonts/PublicSans-Italic[wght].woff2') format('woff2-variations');
}

@font-face {
	font-display: block;
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/NotoSansJP-VariableFont_wght.woff2') format('woff2-variations');
}