---
import { useTranslations } from "src/utils/i18n";

const t = await useTranslations("en");

const {
	cooldown,
	element,
	type,
	additionalEffect,
	variant = "tactical",
} = Astro.props;
---

<dl class="skill-properties flex-grid rounded-s">
	<div class="skill-property">
		<dt>Cooldown</dt>
		<dd>{cooldown || 0} seconds</dd>
	</div>
	<div class="skill-property">
		<dt>Element</dt>
		<dd>
			{element ? t(`element.${element}`) : "None"}
		</dd>
	</div>
	{
		variant === "tactical" && (
			<div class="skill-property">
				<dt>Type</dt>
				<dd>{type ? t(`skill.type.${type}`) : "None"}</dd>
			</div>
		)
	}
	<div class="skill-property">
		<dt>Additional Effect</dt>
		<dd>{additionalEffect || "None"}</dd>
	</div>
</dl>

<style>
	.skill-properties {
		--grid-min-item-size: var(--space-3xl-rem);
		background-color: var(--color-surface-2);
		font-size: 1rem;
		padding-block: var(--space-xs);
		padding-inline: var(--space-xs-s);
	}

	dt {
		font-size: var(--text--1);
	}

	@screen md {
		dt {
			font-size: inherit;
		}
	}
</style>
