---
import { useTranslations } from "src/utils/i18n";
import DetailsSummaryIcon from "@components/Details/DetailsSummaryIcon.astro";

const t = await useTranslations("en");

const { name, characterClass, level } = Astro.props;
---

<details>
	<summary class="button">
		<span class="skill-title cluster">
			<span class="leading-tight">
				<span class="skill-title__name">
					{name}
				</span>
				<span class="visually-hidden">;&nbsp;</span>
				<span class="skill-title__sub">
					Lv. {level}&#32;
					{t(`class.${characterClass}`)} required
				</span>
			</span>
			<slot name="icon" />
		</span>
		<DetailsSummaryIcon />
	</summary>
	<div class="skill-content sidebar">
		<div class="skill-properties-container">
			<slot name="properties" />
		</div>
		<slot name="description" />
	</div>
</details>

<style>
	details {
		background-color: var(--color-surface-1);
		border-radius: var(--border-radius);
		position: relative;
	}

	details:not([open]):has(summary:active) {
		transform: translateY(2px);
	}

	summary,
	details[open] summary {
		--button-background: transparent;
		--button-hover-background: var(--color-surface-2);
		--button-active-background: var(--color-surface-3);
		--button-color: var(--color-text-regular);
		--button-padding-block: calc(var(--space-xs) - 2px);
		--button-padding-inline: calc(var(--space-s) - 2px);
	}

	summary:focus {
		border-color: var(--color-text-inverted);
		outline: 3px solid var(--color-focus-ring);
		outline-offset: 0;
	}

	.skill-title {
		gap: var(--space-xs-s);
	}

	.skill-title__name {
		color: var(--color-text-strong);
		display: block;
		font-weight: 700;
	}

	.skill-title__sub {
		display: block;
		font-size: var(--text--1);
	}

	.skill-content {
		--sidebar-target-width: 12rem;
		--sidebar-content-min-width: 41.5ch;
		container: skill-content / inline-size;
		align-items: stretch;
		flex-direction: row-reverse;
		gap: var(--space-s);
		padding: var(--space-s);
		padding-block-start: var(--space-2xs);
	}

	.skill-properties-container {
		background-color: var(--color-surface-2);
		border-radius: var(--border-radius-s);
	}

	.skill-properties-container:empty {
		display: none;
	}

	@screen sm {
		.skill-title__name {
			font-size: var(--text-1);
		}

		.skill-title__sub {
			font-size: 1rem;
		}
	}
</style>
