---
const subgrades = {
	"1": "α",
	"2": "β",
};

const { grade, subgrade, level } = Astro.props;
---

<div class:list={["skill-level", "sidebar", { "has-subgrade": subgrade }]}>
	<dt class="grow-0">G{grade}{subgrades[subgrade] || ""} (Lv. {level})</dt>
	<dd class="stack">
		<slot />
	</dd>
</div>

<style>
	.skill-level {
		--sidebar-content-min-width: 32ch;
		--sidebar-target-width: 11ch;
		column-gap: 0.25em;
		row-gap: 0;
	}

	.has-subgrade {
		--sidebar-target-width: 12ch;
	}

	@supports (grid-template-columns: subgrid) {
		.skill-level {
			display: block;
			grid-column: 1 / -1;
		}

		.skill-level > :last-child {
			width: auto;
		}

		@container skill-content (inline-size >= 50ch) {
			.skill-level {
				display: grid;
				grid-template-columns: subgrid;
			}
		}

		@container skill-content (inline-size >= 70ch) {
			.has-subgrade {
				grid-template-columns: minmax(11.7ch, max-content) 1fr;
			}
		}
	}
</style>
