---
import { useTranslations } from "src/utils/i18n";
import DetailsSummaryIcon from "@components/Details/DetailsSummaryIcon.astro";

const t = await useTranslations("en");

const { name, characterClass, level } = Astro.props;
---

<details>
	<summary class="button">
		<span class="skill-title cluster">
			<span class="leading-tight">
				<span class="block font-extrabold text-1 text-strong">
					{name}
				</span>
				<span class="visually-hidden">;&nbsp;</span>
				<span class="block text--1 md:text-[1rem]">
					Lv. {level}&#32;
					{t(`class.${characterClass}`)} required
				</span>
			</span>
			<slot name="icon" />
		</span>
		<DetailsSummaryIcon />
	</summary>
	<div class="skill-content sidebar">
		<div class="skill-properties-container">
			<slot name="properties" />
		</div>
		<slot name="description" />
	</div>
</details>

<style>
	details {
		background-color: var(--color-surface-1);
		border-radius: var(--border-radius);
	}

	summary,
	details[open] summary {
		--button-background: transparent;
		--button-hover-background: var(--color-surface-2);
		--button-active-background: var(--color-surface-3);
		--button-color: var(--color-text-regular);
		--button-padding-block: var(--space-xs);
		--button-padding-inline: var(--space-s);
	}

	.skill-title {
		gap: var(--space-xs-rem);
	}

	h4 {
		font-variant: normal;
		letter-spacing: normal;
		text-transform: none;
	}

	.skill-content {
		--sidebar-target-width: 12rem;
		--sidebar-content-min-width: 41.5ch;
		align-items: stretch;
		flex-direction: row-reverse;
		gap: var(--space-m);
		padding: var(--space-s);
		padding-block-start: var(--space-2xs);
	}

	.skill-properties-container {
		background-color: var(--color-surface-2);
		border-radius: var(--border-radius-s);
	}

	.skill-properties-container:empty {
		display: none;
	}

	@screen sm {
		header {
			gap: var(--default-gutter);
		}
	}
</style>
