---
import { useTranslations } from "src/utils/i18n";

const t = await useTranslations("en");

const {
	cooldown,
	element,
	type,
	additionalEffect,
	variant = "tactical",
} = Astro.props;

const randomId = crypto.randomUUID();
---

<p hidden id={randomId}>Properties</p>
<dl class="skill-properties flex-grid" aria-labelledby={randomId}>
	<div class="skill-property">
		<dt>Cooldown</dt>
		<dd>{cooldown || 0}&#32;{cooldown == 1 ? "second" : "seconds"}</dd>
	</div>
	<div class="skill-property">
		<dt>Element</dt>
		<dd>
			{element ? t(`element.${element}`) : "None"}
		</dd>
	</div>
	{
		variant === "tactical" && (
			<div class="skill-property">
				<dt>Type</dt>
				<dd>{type ? t(`skill.type.${type}`) : "None"}</dd>
			</div>
		)
	}
	<div
		class:list={[
			"skill-property",
			variant === "tactical" ? null : "grow-[2]",
		]}
	>
		<dt>Additional Effect</dt>
		<dd>{additionalEffect || "None"}</dd>
	</div>
</dl>

<style>
	.skill-properties {
		--grid-min-item-size: var(--space-3xl-rem);
		font-size: 1rem;
		padding: var(--space-xs);
	}

	dt {
		font-size: var(--text--1);
	}

	@screen md {
		dt {
			font-size: inherit;
		}
	}
</style>
