---
const subgrades = {
	"1": "α",
	"2": "β",
};

const { grade, subgrade, level } = Astro.props;
---

<div class="skill-level sidebar">
	<dt class="grow-0">
		G{grade}{subgrades[subgrade] || ""} (Lv. {level})
	</dt>
	<dd class="stack">
		<slot />
	</dd>
</div>

<style>
	.skill-level {
		--sidebar-content-min-width: 32ch;
		--sidebar-target-width: 9.5ch;
		row-gap: var(--space-xs-rem);
	}
</style>
