@import 'tiny-css-reset';

@layer base {
	:root {
		--border-radius: var(--space-xs);
		--content-padding-block: var(--space-s-l);
		--content-padding-inline: 0;
		--default-gutter: var(--space-s-rem);
		--default-stack-space: 1.25em;
		--grid-min-item-size: 29.25rem;
		--main-region-limit: 112.5rem;
		--main-region-padding: var(--space-s);
		--paragraph-max-inline-size: 63ch;
	}

	@screen sm {
		:root {
			--content-padding-inline: var(--space-s-l);
		}
	}

	@screen xl {
		:root {
			--content-padding-block: var(--space-xl);
			--content-padding-inline: var(--space-xl);
		}
	}

	* {
		text-decoration-thickness: 1px;
		text-underline-position: from-font;
	}

	[tabindex="-1"],
	[tabindex="0"] {
		outline: none;
	}

	[tabindex="0"]:focus-visible {
		@apply focus-ring;
	}

	html {
		scroll-padding-block-start: 40px;
	}

	body {
		background-color: var(--color-surface-1);
		color: var(--color-text-regular);
		font-family: 'Public Sans', 'Noto Sans JP', sans-serif;
		font-size: var(--text-0);
		font-weight: 400;
		line-height: 1.5;
	}

	.main-region {
		display: grid;
		grid-template-columns: 1fr minmax(auto, var(--main-region-limit)) 1fr;
		padding: var(--main-region-padding);
	}

	.main-region > * {
		grid-column: 2;
		min-inline-size: 0;
	}

	.content {
		--content-bg: transparent;
		background-color: var(--content-bg);
		border-radius: var(--border-radius);
		padding-block: 0 var(--content-padding-block);
		padding-inline: var(--content-padding-inline);
	}

	.content-wrapper {
		margin-inline: auto;
		max-inline-size: max-content;
	}

	@screen sm {
		body {
			background-color: var(--color-surface-2);
		}

		.content {
			--content-bg: var(--color-surface-1);
			padding-block-start: var(--content-padding-block);
		}
	}

	h1,
	h2,
	h3,
	h4,
	.h1,
	.h2,
	.h3,
	.h4,
	em,
	strong,
	dt {
		color: var(--color-text-strong);
		font-weight: 700;
	}

	h1,
	.h1 {
		font-size: var(--text-8);
		letter-spacing: -0.02em;
		line-height: 0.95;
	}

	h2,
	.h2 {
		font-size: var(--text-4);
		font-weight: 800;
		letter-spacing: -0.01em;
		line-height: 1.125;
	}

	h3,
	.h3 {
		font-size: var(--text-2);
		font-weight: 800;
		line-height: 1.25;
	}

	h4,
	.h4 {
		font-size: var(--text-1);
		line-height: 1.5;
	}

	a {
		color: inherit;
	}

	a:not([class]) {
		color: var(--color-accent);
	}

	a:hover {
		text-decoration: none;
	}

	a:focus-visible {
		outline: 2px solid var(--color-focus-ring);
		outline-offset: 2px;
	}

	p,
	h4,
	.h4 {
		max-inline-size: var(--paragraph-max-inline-size);
	}

	button {
		background: transparent;
		border: none;
		box-shadow: none;
		color: inherit;
		font-size: inherit;
		font-family: inherit;
		outline: none;
		touch-action: manipulation;
	}
}