@layer base {
	#root {
		--content-padding-block: var(--space-s-l);
		--content-padding-inline: 0px;
		--default-gutter: var(--space-xs);
		--default-stack-space: 1.25em;
		--grid-min-item-size: 18.875rem;
		--main-region-limit: 99.625rem;
		--main-region-padding: var(--space-xs);
		--paragraph-max-width: calc(var(--text-0) * 48);
	}

	* {
		text-underline-position: from-font;
	}

	[tabindex="-1"],
	[tabindex="0"] {
		outline: none;
	}

	[tabindex="0"]:focus-visible {
		@apply focus-ring;
	}

	html {
		scroll-padding-block-start: 40px;
	}

	body {
		color: var(--color-text-regular);
		container: body / inline-size;
		font-family: 'Work Sans', 'Noto Sans JP', sans-serif;
		font-size: var(--text-0);
		font-size-adjust: from-font;
		font-weight: 400;
		line-height: 1.5;
	}

	#root {
		background-color: var(--color-surface-0);
		display: flow-root;
		min-height: inherit;
		min-width: 100%;
	}

	.main-region {
		display: grid;
		grid-template-columns: 1fr minmax(auto, var(--main-region-limit)) 1fr;
		padding: var(--main-region-padding);
	}

	.main-region > * {
		grid-column: 2;
		min-inline-size: 0;
	}

	main {
		container: main / inline-size;
	}

	.content {
		border-radius: var(--border-radius);
		padding-block: 0 var(--content-padding-block);
		padding-inline: var(--content-padding-inline);
	}

	.content-wrapper {
		max-inline-size: max-content;
	}

	button {
		background: transparent;
		border: none;
		box-shadow: none;
		color: inherit;
		font-size: inherit;
		font-family: inherit;
		outline: none;
	}

	::-webkit-details-marker {
		display: none;
	}

	@container body (min-inline-size: 30rem) {
		#root {
			--content-padding-inline: var(--space-s-l);
			background-color: var(--color-surface-1);
		}

		.content {
			background-color: var(--color-surface-0);
			padding-block-start: var(--content-padding-block);
		}
	}

	@container body (min-inline-size: 78rem) {
		#root {
			--content-padding-block: var(--space-xl);
			--content-padding-inline: var(--space-xl);
		}
	}

	@container body (min-inline-size: 110rem) {
		#root {
			--content-padding-inline: var(--space-2xl);
		}
	}
}