@layer components {
	.auto-grid {
		display: grid;
		grid-template-columns: repeat(var(--grid-placement, auto-fill),
				minmax(min(var(--grid-min-item-size), 100%), 1fr));
		gap: var(--default-gutter);
	}

	.auto-grid:where([data-layout="50-50"]) {
		--grid-min-item-size: 50%;
	}
}