@layer components {
	.auto-grid {
		--_gutter: var(--default-gutter);
		display: grid;
		grid-template-columns: repeat(var(--grid-placement, auto-fill),
				minmax(min(var(--grid-min-item-size), 100%), 1fr));
		gap: var(--_gutter);
	}
}