@layer base {
	:root {
		--sidebar-target-width: 20rem;
		--sidebar-content-min-width: 50%;
	}
}

@layer components {
	.sidebar {
		--gutter: var(--default-gutter);
		display: flex;
		flex-wrap: wrap;
		gap: var(--gutter);
	}

	:where(.sidebar) > :first-child {
		flex-basis: var(--sidebar-target-width);
		flex-grow: 1;
	}

	:where(.sidebar) > :last-child {
		flex-grow: 999;
		max-width: 100%;
		width: var(--sidebar-content-min-width);
	}
}