@layer base {

	*,
	*::before,
	*::after {
		--stack-space-override: var(--stack-space);
	}

	h2,
	.h2 {
		--stack-space-override: var(--space-xl-rem);
	}

	h3,
	.h3 {
		--stack-space-override: var(--space-l-rem);
	}

	h1 + *,
	.h1 + *,
	h2 + *,
	.h2 + *,
	h3 + *,
	.h3 + * {
		--stack-space-override: var(--space-xs-rem);
	}

	figure,
	.figure,
	figure + *,
	.figure + * {
		--stack-space-override: var(--space-l-xl-rem);
	}
}

@layer components {
	.stack {
		--stack-space: var(--default-stack-space);
	}

	.stack > * + * {
		margin-block-start: var(--stack-space-override);
	}
}