@layer base {

	*,
	*::before,
	*::after {
		--stack-space-override: var(--stack-space);
	}

	:is(figure, .figure) + :not(:where(h2, .h2, h3, .h3)) {
		--stack-space-override: var(--space-l-cqi-rem);
	}

	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4 {
		--stack-space-override: 1.5em;
	}

	h1 + *,
	.h1 + * {
		--stack-space-override: var(--space-s-cqi-rem);
	}

	h2 + *,
	.h2 + *,
	h3 + *,
	.h3 + *,
	h4 + *,
	.h4 + * {
		--stack-space-override: var(--space-xs-cqi-rem);
	}

	figure,
	.figure {
		--stack-space-override: var(--space-l-cqi-rem);
	}

	.visually-hidden + * {
		--stack-space-override: var(--stack-space);
	}
}

@layer components {
	.stack {
		--stack-space: var(--default-stack-space);
	}

	.stack > * + * {
		margin-block-start: var(--stack-space-override);
	}
}