@layer base {

	*,
	*::before,
	*::after {
		--stack-space-override: var(--stack-space);
	}

	:where(figure) + *,
	:where(.figure) + * {
		--stack-space-override: var(--space-l-xl-rem);
	}

	h2,
	.h2 {
		--stack-space-override: var(--space-xl-2xl-rem);
	}

	h3,
	.h3 {
		--stack-space-override: var(--space-l-xl-rem);
	}

	h4,
	.h4 {
		--stack-space-override: var(--space-m-l-rem);
	}

	h1 + *,
	.h1 + *,
	h2 + *,
	.h2 + *,
	h3 + *,
	.h3 + * {
		--stack-space-override: var(--space-xs-rem);
	}

	h4 + *,
	.h4 + * {
		--stack-space-override: var(--space-2xs-rem);
	}

	figure,
	.figure {
		--stack-space-override: var(--space-l-xl-rem);
	}
}

@layer components {
	.stack {
		--stack-space: var(--default-stack-space);
	}

	.stack > * + * {
		margin-block-start: var(--stack-space-override);
	}
}