---
import "tiny-css-reset";
import "../css/global.css";
import navigationData from "@data/navigation";
import Nav from "@components/Nav/Nav.astro";
// import LanguageSelect from "@components/LanguageSelect/LanguageSelect.astro";
// import JSTTime from "@components/JSTTime/JSTTime.astro";

const { title, storyblokAttributes = [] } = Astro.props;
const navExpandedRoutes = navigationData.filter((x) => "children" in x);
const rootPathName = "/" + Astro.url.pathname.split("/")[1];
const isSubmenuOpen = Boolean(
	navExpandedRoutes.find((x) => x.url === rootPathName),
);
const currentYear = new Date().getFullYear();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="preconnect"
			href="https://a2-us.storyblok.com/"
			crossorigin
		/>
		<link rel="stylesheet" href="/fonts.css" />
		<slot name="head" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} - Bapharia.edu` : "Bapharia.edu"}</title>
		<script is:inline>
			window.addEventListener("load", () => {
				if ("serviceWorker" in navigator) {
					navigator.serviceWorker.register("/service-worker.js").then(
						(registration) =>
							console.log(
								"Service worker registration succeeded:",
								registration,
							),
						(error) =>
							console.error(
								`Service worker registration failed: ${error}`,
							),
					);

					if (navigator.serviceWorker.controller) {
						navigator.serviceWorker.controller.postMessage(
							"cleanup",
						);
					}
				}
			});
		</script>
	</head>
	<body>
		<div id="root" class:list={[{ "submenu-expanded": isSubmenuOpen }]}>
			<header>
				<Nav />
				<!-- <div class="main-region pbe-0 hidden @md/body:grid">
					<div class="spread">
						<JSTTime />
						<nav
							aria-labelledby="language-select-label-1"
							aria-describedby="language-select-description-1"
						>
							<LanguageSelect />
						</nav>
					</div>
				</div> -->
			</header>
			<div class="main-region">
				<main class="stack stack-space-xs" {...storyblokAttributes}>
					<slot />
				</main>
			</div>
			<footer>
				<div>Copyright © 2023–{currentYear}</div>
				<div>Temporary footer</div>
			</footer>
		</div>
	</body>
</html>

<style>
	footer {
		border-block-start: 1px solid var(--color-separator-weak);
		font-size: var(--text--1);
		margin-block: var(--space-l-rem);
		padding-block-start: var(--space-l-rem);
		padding-inline-start: calc(
			var(--sidebar-width) + var(--sidebar-content-offset)
		);
		padding-inline-end: var(--sidebar-content-offset);
		text-align: center;
	}

	@container body (min-inline-size: 30rem) {
		footer {
			border: none;
			padding-block-start: 0;
		}
	}
</style>

<script is:inline>
	document.body.addEventListener(
		"error",
		(event) => {
			if (event.target.tagName.toLowerCase() === "img") {
				event.target.classList.add("w-auto");
			}
		},
		true,
	);
</script>

<script src="match-container"></script>

<script is:inline type="speculationrules">
	{
		"prerender": [
			{
				"where": { "href_matches": "/*" },
				"eagerness": "moderate"
			}
		]
	}
</script>
