---
import "../css/global.css";
import navigationData from "@data/navigation";
import Nav from "@components/Nav/Nav.astro";
// import LanguageSelect from "@components/LanguageSelect/LanguageSelect.astro";
// import JSTTime from "@components/JSTTime/JSTTime.astro";

const { title, storyblokAttributes = [] } = Astro.props;
const navExpandedRoutes = navigationData.filter((x) => "children" in x);
const rootPathName = "/" + Astro.url.pathname.split("/")[1];
const isSubmenuOpen = Boolean(
	navExpandedRoutes.find((x) => x.url === rootPathName),
);
---

<html lang="en" class:list={[{ "submenu-expanded": isSubmenuOpen }]}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="preconnect"
			href="https://a2-us.storyblok.com/"
			crossorigin
		/>
		<link rel="stylesheet" href="/fonts.css" />
		<slot name="head" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} - Bapharia.edu` : "Bapharia.edu"}</title>
	</head>
	<body>
		<header>
			<Nav />
			<!-- <div class="main-region pbe-0 hidden md:grid">
				<div class="spread">
					<JSTTime />
					<nav
						aria-labelledby="language-select-label-1"
						aria-describedby="language-select-description-1"
					>
						<LanguageSelect />
					</nav>
				</div>
			</div> -->
		</header>
		<div class="main-region stack stack-space-s">
			<main class="stack stack-space-s" {...storyblokAttributes}>
				<slot />
			</main>
		</div>
	</body>
</html>

<script is:inline>
	window.addEventListener("load", () => {
		if ("serviceWorker" in navigator) {
			navigator.serviceWorker.register("/service-worker.js").then(
				(registration) =>
					console.log(
						"Service worker registration succeeded:",
						registration,
					),
				(error) =>
					console.error(
						`Service worker registration failed: ${error}`,
					),
			);

			if (navigator.serviceWorker.controller && !document.prerendering) {
				navigator.serviceWorker.controller.postMessage("cleanup");
			}
		}
	});

	document.body.addEventListener(
		"error",
		(event) => {
			if (event.target.tagName.toLowerCase() === "img") {
				event.target.classList.add("w-auto");
			}
		},
		true,
	);
</script>

<script is:inline type="speculationrules">
	{
		"prerender": [
			{
				"where": { "href_matches": "/*" },
				"eagerness": "moderate"
			}
		]
	}
</script>
