@layer base {
	#root {
		--nav-toggle-content-offset: calc(var(--button-height) + var(--space-s));
		--sidebar-content-offset: 0px;
	}

	.main-region {
		grid-template-columns: minmax(var(--sidebar-content-offset), 1fr) minmax(auto, var(--main-region-limit)) 1fr;
		margin-block-start: var(--nav-toggle-content-offset);
	}

	@container body (min-inline-size: 46rem) {
		#root {
			--sidebar-submenu-width: calc(var(--space-4xl-rem) * 2 + var(--main-region-padding) * 2.5 - var(--sidebar-width));
			--sidebar-width: calc(var(--space-2xl-rem) + var(--main-region-padding));
		}

		.main-region {
			margin-block-start: 0;
			padding-inline-start: var(--sidebar-width);
		}
	}

	@container body (min-inline-size: 94rem) {
		#root {
			--sidebar-submenu-width: calc((var(--space-4xl-rem) * 2 + var(--main-region-padding) * 2.5) - var(--sidebar-width));
		}

		#root.submenu-expanded {
			--sidebar-content-offset: calc(var(--sidebar-submenu-width) + var(--main-region-padding) / 2);
		}
	}
}