@layer base {
	:root {
		--nav-toggle-content-offset: calc(var(--button-height) + var(--space-s));
		--sidebar-content-offset: 0;
	}

	.main-region {
		grid-template-columns: minmax(var(--sidebar-content-offset), 1fr) minmax(auto, var(--main-region-limit)) 1fr;
		margin-block-start: var(--nav-toggle-content-offset);
	}

	@screen md {
		:root {
			--sidebar-submenu-width: calc(var(--space-4xl-rem) * 2 + var(--main-region-padding) * 2.5 - var(--sidebar-width));
			--sidebar-width: calc(var(--space-2xl-rem) + var(--main-region-padding));
		}

		@supports (inline-size: min(22vw, 500px)) {
			:root {
				--sidebar-submenu-width: calc(min(var(--space-4xl-rem) * 2 + var(--main-region-padding) * 2.5, 22vw) - var(--sidebar-width));
			}
		}

		.main-region {
			margin-block-start: 0;
			padding-inline-start: var(--sidebar-width);
		}
	}

	@screen 2xl {
		.submenu-expanded {
			--sidebar-content-offset: calc(var(--sidebar-submenu-width) + var(--main-region-padding) / 2);
		}
	}
}