---
import Svg from "@jasikpark/astro-svg-loader";
const { url = "/", title, icon, current = false } = Astro.props;
---

<a
	class="nav-item__link underline-on-hover"
	href={url}
	aria-current={current ? "page" : "false"}
>
	<div class="icon">
		<Svg src={icon} />
	</div>
	<span>{title}</span>
</a>
