---
import { useTranslations } from "src/utils/i18n";

const { parentUrl, parentTitle, children } = Astro.props;

const t = useTranslations("en");
const sortedChildren = children.sort((a, b) => {
	const titleA = t(a.title);
	const titleB = t(b.title);
	if (titleA < titleB) return -1;
	if (titleA > titleB) return 1;
	return 0;
});

function isCurrentUrl(url) {
	if (Astro.url.pathname.endsWith("/")) {
		if (!url.endsWith("/")) {
			return url + "/" === Astro.url.pathname;
		}
	}

	return url === Astro.url.pathname;
}
---

<ul role="list">
	<li class="nav-submenu-item">
		<a
			href={parentUrl}
			class="nav-submenu-item__link underline-on-hover"
			aria-current={isCurrentUrl(parentUrl) ? "page" : "false"}
		>
			{parentTitle} Overview
		</a>
	</li>
	{
		sortedChildren.map((child) => (
			<li class="nav-submenu-item">
				<a
					href={child.url}
					class="nav-submenu-item__link underline-on-hover"
					aria-current={isCurrentUrl(child.url) ? "page" : "false"}
				>
					{t(child.title)}
				</a>
			</li>
		))
	}
</ul>
