---
import Svg from "@jasikpark/astro-svg-loader";
---

<button type="button" class="theme-toggle button icon-label-button md:icon-button text-0" data-color="neutral">
	<div class="icon">
		<Svg src={import("@assets/icons/moon-fill.svg?raw")} />
	</div>
	<span>Switch to dark mode</span>
</button>

<style>
	.theme-toggle {
		inline-size: 100%;
		margin-block-start: var(--space-m-rem);
	}

	@screen md {
		.theme-toggle {
			inline-size: auto;
			margin-block-start: auto;
		}
	}
</style>